.feynman {
  padding-top: 100px;
  background-image: url(../../images/feinman.png);
  background-repeat: no-repeat;
  background-size: 867px 637px;
  background-position: left bottom;
  min-height: 890px;
  position: relative;
  background-color: #f2f2f2;
}
