.header {
  height: 100vh;
  min-height: 550px;
  max-height: 756px;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  /* выше установили ограничения для секции */
}
